.college-img-container img{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    width: 1000px;
    height: 300px;
}
.about-college p{
    text-align:justify;
    margin: 50px;
}
.courses-offered{
    background-color: red;
    color: white;
}
.courses-offered p{
    text-align: justify;
}
.contact-us{
    background-color: red;
    color: white;
}
.address{
    color: blue;
}